* {
    box-sizing: border-box;
}

/* @font-face {
    font-family: Font;
    src: url('');
} */

body {
    font-size: 14px;
}

.menu {
    width: 100%;
    height: 42px;
    box-shadow: 0px 0px 4px 0px gray;
    position: relative;
}

.box {
    width: 80px;
    height: 100%;
    color: gray;
    float: right;
    padding: 8px;
    margin-right: 35px;
}

.l {
    width: 130px;
    margin-right: 45px;
    padding: 2px;
}

.logo {
    width: 100%;
    height: 100%;
}

.i_menu {
    font-size: 20px;
    color: #4DC488;
    float: right;
    margin-top: 3px;
    margin-right: 20px;
    display: none;
}

.box1 {
    width: 80px;
    height: 80%;
    border: 1px solid #4DC488;
    border-radius: 8px;
    float: left;
    margin-left: 35px;
    margin-top: 3.5px;
    padding: 3px;
    padding-left: 7px;
}

.a {
    text-decoration: none;
}

.a_login {
    color: #4DC488;
    padding-left: 7px;
}

.a_login:hover {
    color: #84dfb2;
}

.box2 {
    width: 30px;
    background: #4DC488;
    color: white;
}

.box3 {
    width: 230px;
    margin-left: 260px;
    border: none;
    background: rgb(233, 227, 227);
}

.search {
    width: 230px;
    height: 30px;
    padding: 5px;
    margin-left: 170px;
    margin-top: 6px;
    background: rgb(233, 227, 227);
    border: none;
    outline: none;
    direction: rtl;
    border-radius: 6px;
}

.b {
    position: absolute;
    left: 100px;
    bottom: 8px;
}

.a_bars {
    color: gray;
}

.circle {
    width: 6px;
    height: 6px;
    display: none;
    margin-top: 2px;
    margin-left: 26px;
    background: #4DC488;
    border-radius: 100%;
}

.a_bars:hover {
    color: #4DC488;
}

.a_bars:hover .circle {
    display: block;
}

.main {
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 30px;
    border-radius: 16px;
}

.img_main {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.mahsoolaat {
    width: 90%;
    height: 35px;
    margin: auto;
    margin-top: 60px;
}

.box4 {
    direction: rtl;
    float: right;
}

.box4_2 {
    float: left;
}

.strong1 {
    font-size: 18px;
}

.a_bishtar {
    color: gray;
}

.a_bishtar:hover {
    color: rgb(187, 181, 181);
}

.mahsoolaat_2 {
    width: 90%;
    height: 220px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box5 {
    width: 270px;
    height: 100%;
    direction: rtl;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 5px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
}

.box_img {
    overflow: hidden;
    border-radius: 8px;
}

.img {
    width: 100%;
    height: 110px;
    border-radius: 4px;
    transition: 0.5s;
}

.img:hover {
    transform: scale(1.3);
}

.gheymat {
    direction: ltr;
    margin-top: 40px;
    position: relative;
}

.a_mahsool {
    color: black;
}

.del {
    font-size: 11px;
}

.takhfif {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 220px;
    bottom: 2px;
    border-radius: 100%;
    background: #4DC488;
    color: white;
}

.banner {
    width: 90%;
    height: 230px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner1 {
    height: 150px;
}

.box6 {
    width: 33.33%;
    height: 100%;
    border-radius: 8px;
    margin: 20px;
}

.img2 {
    border-radius: 8px;
}

.akhbar {
    width: 90%;
    height: 20px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a_akhbar {
    color: #4DC488;
    font-size: 20px;
}

.a_akhbar:hover {
    color: #84dfb2;
}

.footer {
    width: 100%;
    height: 280px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgb(187, 181, 181);
    margin-top: 80px;
}

.box7 {
    width: 250px;
    height: 196px;
    border-radius: 8px;
    direction: rtl;
}

.box7_2 {
    padding: 5px;
}

.box7_3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mianbor {
    width: 60px;
    height: 30px;
    color: #4DC488;
    border-bottom: 2px solid #8ce0b6;
    font-size: 16px;
}

.mianbor1 {
    width: 100px;
    height: 20px;
    color: gray;
    margin-top: 10px;
    font-size: 13px;
}

.mianbor1:hover {
    color: rgb(187, 181, 181);
}

.mianbor1:hover .a_footer {
    color: rgb(187, 181, 181);
}

.a_footer {
    color: gray;
}

.footer1 {
    width: 100%;
    height: 40px;
    display: flex;
    font-size: 12px;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: gray;
}

.footer1_2 {
    width: 130px;
    margin-top: 0px;
}

.footer1_3 {
    float: right;
    display: block;
    color: #4DC488;
}

.i {
    margin-right: 15px;
}

@media (max-width: 1210px) {
    .box5 {
        width: 220px;
    }

    .takhfif {
        left: 170px;
    }
}

@media (max-width: 1040px) {
    .box {
        width: 70px;
        font-size: 14px;
    }

    .l {
        width: 130px;
    }
    
    .search {
        margin-left: 140px;
    }

    .box7 {
        width: 200px;
    }
}

@media (max-width: 980px) {
    .box {
        display: none;
    }

    .i_menu {
        display: block;
    }

    .b {
        display: block;
    }

    .l {
        display: block;
        margin-right: 85px;
    }

    .box5 {
        width: 400px;
    }

    .mahsoolaat_2 {
        height: 550px;
        flex-wrap: wrap;
    }

    .takhfif {
        left: 350px;
    }
    
    .footer1_3 {
        margin-top: 30px;
    }
}

@media (max-width: 900px) {
    .box5 {
        width: 350px;
    }

    .footer {
        height: 230px;
    }

    .box7 {
        width: 180px;
        height: 150px;
    }

    .takhfif {
        left: 300px;
    }
}

@media (max-width: 785px) {
    .l {
        margin-right: 10px;
    }

    .main {
        height: 400px;
    }

    .box5 {
        width: 320px;
    }

    .takhfif {
        left: 270px;
    }

    .banner {
        height: 170px;
        flex-direction: column;
        margin-top: 240px;
        margin-bottom: 220px;
    }

    .banner1 {
        height: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .box6 {
        width: 85%;
        margin-top: 0px;
    }

    .footer {
        height: 760px;
        flex-direction: column-reverse;
    }

    .box7 {
        width: 300px;
        height: 196px;
    }

    .box7_3 {
        width: 100%;
        margin-right: 200px;
    }

    .box7_4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .footer1_3 {
        margin-right: -17px;
    }
}

@media (max-width: 730px) {
    .box5 {
        width: 280px;
    }

    .takhfif {
        left: 230px;
    }
}

@media (max-width: 700px) {
    .box1 {
        display: none;
    }

    .box2 {
        display: block;
        position: absolute;
        left: -5px;
    }

    .search {
        margin-left: 50px;
    }
}

@media (max-width: 630px) {
    .box5 {
        width: 240px;
    }

    .takhfif {
        left: 190px;
    }
}

@media (max-width: 580px) {
    .search {
        margin-left: -20px;
    }
}

@media (max-width: 540px) {
    .b {
        width: 100%;
        display: block;
        top: 45px;
        left: 38px;
    }

    .search {
        width: 93%;
    }

    .l {
        display: block;
        margin-right: 85px;
    }

    .box2 {
        left: -8px;
    }

    .i_menu {
        display: block;
        margin-right: 28px;
    }

    .main {
        height: 300px;
        margin-top: 70px;
    }

    .box5 {
        width: 180px;
    }

    .takhfif {
        left: 130px;
    }
}

@media (max-width: 450px) {
    .b {
        width: 100%;
        top: 50px;
        left: 32px;
    }

    .search {
        width: 93.7%;
    }

    .l {
        margin-right: 85px;
    }

    .i_menu {
        margin-right: 22px;
    }

    .box2 {
        left: -15px;
    }

    .main {
        height: 250px;
        margin-top: 80px;
    }

    .a_mahsool {
        margin-top: 20px;
    }

    .mahsoolaat_2 {
        height: 500px;
        flex-wrap: wrap;
    }

    .box5 {
        width: 180px;
    }

    .takhfif {
        left: 130px;
    }

    .banner {
        height: 100px;
        flex-direction: column;
        margin-top: 200px;
        margin-bottom: 150px;
    }

    .banner1 {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .box6 {
        width: 90%;
        margin-top: 0px;
    }

    .footer {
        height: 760px;
        flex-direction: column-reverse;
    }

    .box7 {
        width: 250px;
    }

    .box7_3 {
        width: 100%;
        margin-right: 120px;
    }

    .box7_4 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 410px) {
    .box5 {
        width: 150px;
    }
    
    .takhfif {
        left: 100px;
    }
}

@media (max-width: 335px) {
    .i_menu {
        margin-right: 18px;
    }

    .l {
        margin-right: 50px;
    }

    .main {
        height: 200px;
    }

    .mahsoolaat_2 {
        height: 1100px;
    }

    .box5 {
        width: 300px;
    }

    .takhfif {
        left: 250px;
    }

    .box7_3 {
        margin-right: 90px;
    }
}

@media (max-width: 310px) {
    .box5 {
        width: 250px;
    }

    .takhfif {
        left: 200px;
    }
}